h1{
	font-family: sans-serif;
	background-color: white;
}
body{
	background-color: #444444;
}

.reblock{
	float:right;
	background-color: red;
}
#checks{
	display: inline-block;
	clear:left;
}
.block{
	height:60px;
	width:60px;
	float:right;
}
#wrapper{	
	background-color: white;
	margin-top: 50px;
	height: 960px;
	width: 960px;
}